@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --grey-darker: #171a1b;
  --grey-dark: #1f2123;
  --grey-mid: #33373a;
  --grey-light: #b3aca2;
  --grey-lighter: #e8e6e3;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0;
  margin: 0;
}

html {
  background-color: black;
  color: var(--grey-light);
  color-scheme: dark;
  height: 100%;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1em;
  font-variation-settings: 'slnt' 0, 'wdth' 100, 'GRAD' 0, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750,
    'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1;
  margin-top: 1em;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  padding-bottom: 0.2em;
}

h3 {
  font-size: 1.75em;
}

p {
  margin-bottom: 1em;
}

#main {
  border-top: 1em solid;
  border-radius: 5em;
  background-color: var(--grey-darker);
  padding: 2px 3em 3em;
}

.gist-example {
  margin-top: 1em;
}

[class*='item'] {
  border-radius: 0.25em;
}

.container-col {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.container-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 12px;
}

.container-row .item {
  background-color: var(--grey-mid);
  color: var(--grey-lighter);
  flex-grow: 1;
  margin-right: 12px;
  padding: 12px;
}

.container-col .item {
  align-self: stretch;
  background-color: var(--grey-mid);
  color: var(--grey-lighter);
  margin-bottom: 12px;
  padding: 12px;
}

.container-row .item:last-of-type {
  margin-right: 0;
}

.container-col .item:last-of-type {
  margin-bottom: 0;
  padding: 12px;
}